$yellow: #edb02e;
$orange: #FB8B24;
$red: #f54d3b;
$green: #30b955;
$blue: #12263A;

body {
    display: flex;
    flex-direction: column;
    background-color: $yellow;
    min-height: 100vh;
    line-height: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    flex: 2;
    text-align: justify;
}

section {
    max-width: 800px;
    margin: 0 auto;

    p {
        text-indent: 3em;
        color: $blue;
    }

    a {
        text-decoration: none;
    }

    &#header_panel {
        margin: 50px auto 0;
    }

    #error {
        color: $red;
    }

    #main_image {
        background-image: url('../media/airplane.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 100px;
        width: 100px;
        margin: 0px auto;
    }

    #results {

        width: 800px;
        text-align: center;

        img {
            margin: auto;
            display: block;
        }
    }

}