$yellow: #edb02e;
$orange: #FB8B24;
$red: #f54d3b;
$green: #30b955;
$blue: #12263A;

body {
    display: flex;
    flex-direction: column;
    background-color: $yellow;
    min-height: 100vh;
    line-height: 2em;
    font-size: 4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    flex: 2;
    text-align: justify;
}

.responsive {
    width: 100%;
    height: auto;
}

section {
    max-width: 800px;
    margin: 0 auto;

    p {
        text-indent: 3em;
        color: $blue;
    }

    a {
        text-decoration: none;
    }

    &#header_panel {
        margin: 50px auto 0;
    }

    #error {
        color: $red;
    }

    #saved_trips {
        border: 2px solid black;
        padding: 1em;
    }

    #main_image {
        background-image: url('../media/airplane.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 100px;
        width: 100px;
        margin: 0px auto;
    }

    #results {

        width: 800px;
        text-align: center;

        img {
            margin: auto;
            display: block;
        }
    }
}

/* Mobile First */

.grid-container {
    display: grid;
    height: 95vh;
    grid-template-columns: auto;
    grid-template-rows: 1fr 10fr 1fr;
    grid-gap: 0 3px;
    grid-template-areas:
        "header"
        "container"
        "footer";
}

.header {
    grid-area: header;
}

.container {
    grid-area: container;
}

.footer {
    grid-area: footer;
}