$teal: #00a6a6;
$lightblue: #c8edf8;
$blue: #3e85a4;

form {

    #dates {

        label {
            display: block;
        }

        span {
            width: 100%;
        }

        button {
            font-size: 2em;
        }
    }

}

input, button {
    border-radius: 0.2em;
    border: 1px solid $blue;
    font-size: 0.8em;
    padding: 0.2em 1em;
    line-height: 2em;
    margin: 0.5em 0;
    width: -webkit-fill-available;
}

input[type=submit], button {
    background-color: $teal;
    color: white;
    border: none;
}

.saved_trip {
    font-size: 0.6em;
    border-top: 1px solid $blue;
}

button.remove {
    background: none;
    border: none;
    cursor: pointer;
    width: min-content;
}