form {

    #dates {
        display: flex;

        label {
            display: block;
        }

        span {
            width: 100%;
        }
    }

}

input {
    font-size: 0.8em;
    padding: 0.2em 1em;
    line-height: 2em;
    margin: 0.5em 0;
    width: -webkit-fill-available;
}

input[type=submit]{
    background-color: #12263A;
    color: white;
    border: none;
}